@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@font-face {
  font-family: Kitab;
  src: url(assets/fonts/Kitab-Regular.ttf);
  unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655, U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6DD, U+6DF-6E8, U+6EA-6ED, U+8F0-8F3, U+FD3E-FD3F, U+FDF2;
}
@font-face {
  font-family: Kitab;
  src: url(assets/fonts/Kitab-Bold.ttf);
  font-weight: 700;
  unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655, U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6DD, U+6DF-6E8, U+6EA-6ED, U+8F0-8F3, U+FD3E-FD3F, U+FDF2;
}
@font-face {
  font-family: Indopak;
  src: url(assets/fonts/Indopak.woff2);
}
* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:focus {
  background-color: transparent;
}
button:hover {
  opacity: 0.4;
}

body {
  margin: 0;
  font-family: Figtree, serif;
  font-size: 28px;
  background-color: #1f2125;
  overflow-x: hidden;
  color: #fff;
}
body::-moz-selection {
  background-color: #00a659;
  color: #fff;
}
body::selection {
  background-color: #00a659;
  color: #fff;
}

.fade {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

header {
  background-color: #00a659;
  color: #fff;
  height: 64px;
  font-size: 28px;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
header::-moz-selection {
  background-color: #1f2125;
}
header::selection {
  background-color: #1f2125;
}
header .back-button {
  display: flex;
  justify-content: left;
  align-items: center;
}
header .back-button img {
  width: 32px;
  height: 32px;
}
header .detail-surah {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .globe {
  display: flex;
  justify-content: right;
  align-items: center;
}
header .globe img {
  width: 32px;
  height: 32px;
}

.image {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.image img {
  filter: invert(100%);
  width: 232px;
}

.container {
  margin-top: 64px;
}

.rows-surah {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2125;
  padding: 32px 8px;
  height: 56px;
  line-height: 0px;
  border-bottom: 2px solid #464b4f;
  cursor: pointer;
  font-size: 20px;
}
.rows-surah:hover {
  background-color: #00a659;
  color: #ffffff;
  transition: all 100ms ease;
  border-color: #00a659;
}
.rows-surah:last-child {
  border-bottom: 1px solid transparent;
}
.rows-surah div:last-child {
  font-size: 32px;
}

.bismillah {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  padding: 16px 8px;
  font-size: 38px;
  background-color: #1f2125;
}

.container-box-select {
  position: fixed;
  z-index: 3;
  bottom: -360px;
  width: 100%;
  height: 360px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: #00a659;
  overflow: hidden;
  transition: all 250ms;
}
.container-box-select.appear {
  bottom: 0px;
}
.container-box-select .top-box-select {
  padding-inline: 10px;
  padding-top: 6px;
  background-color: #00a659;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-box-select .top-box-select .filter-wrapper .language-filter {
  color: #fff;
  background-color: #1f2125;
  padding: 10px;
  height: 32px;
  border-radius: 14px;
  width: 188px;
  font-size: 16px;
  border-bottom: none !important;
  box-sizing: border-box;
}
.container-box-select .top-box-select .filter-wrapper .language-filter:focus {
  box-shadow: none !important;
}
.container-box-select .top-box-select .cancel {
  display: inline-block;
  cursor: pointer;
}
.container-box-select .top-box-select .cancel img {
  width: 24px;
  height: 24px;
}
.container-box-select .row-head {
  height: 36px;
  background-color: #00a659;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  font-weight: 600;
}
.container-box-select .row-head .column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-box-select .box {
  height: 274px;
  display: grid;
  background-color: #1f2125;
  grid-template-columns: 1fr;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container-box-select .box::-webkit-scrollbar {
  width: 16px;
}
.container-box-select .box .menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-block: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container-box-select .box .menu-items:hover, .container-box-select .box .menu-items:active {
  background-color: #00a659;
}
.container-box-select .box .menu-item {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-box-select .box .menu-item.arabic {
  font-size: 24px;
}
.container-box-select .box .menu-item.clear {
  padding-block: 16px;
}
.container-box-select .box .menu-item.clear:hover, .container-box-select .box .menu-item.clear:active {
  background-color: #00a659;
}
.container-box-select .box .menu-item::-moz-selection {
  background-color: transparent;
}
.container-box-select .box .menu-item::selection {
  background-color: transparent;
}
.container-box-select .box .menu-item.menu-item-active {
  scale: 1.2;
}

.container-audio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
.container-audio .circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container-audio .circle .play {
  height: 24px;
  border: 12px solid transparent;
  border-right: 0px solid transparent;
  border-left: 20px solid #00a659;
  transition: border 300ms ease;
}
.container-audio .circle .play.pause {
  border: 0px solid transparent;
  border-left: 20px double #00a659;
}

.rows-ayat {
  background-color: #1f2125;
  width: 100%;
  border-bottom: 2px solid #464b4f;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 0.1fr 1fr 10fr;
  grid-template-areas: "number audio ayat" "number transliteration transliteration";
}
.rows-ayat:last-child {
  border-bottom: 1px solid transparent;
}
.rows-ayat .ayat {
  padding: 16px 10px;
  text-align: right;
  font-family: Kitab, serif;
  font-size: 34px;
  font-weight: 500;
}
.rows-ayat .transliteration {
  color: #d0d0d0;
  grid-area: transliteration;
  padding-inline: 10px;
  padding-block: 8px;
  line-height: 22px;
  font-size: 18.8px;
}
.rows-ayat .transliteration .arabic {
  color: #fff;
  line-height: 32px;
  font-family: Kitab, serif;
  font-size: 24px;
}
.rows-ayat .transliteration .non-arabic {
  color: #fff;
}
.rows-ayat div.numberAyat {
  background-color: #0f4f31;
  grid-area: number;
  width: 80px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-loader {
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  padding: 10px;
  animation: loader 1s linear infinite;
}
.container-loader .loader {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 7px;
  left: 7px;
  border: 4px solid black;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 50%;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader-wrapper {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar {
  background-color: transparent;
}

body::-webkit-scrollbar-track,
.box::-webkit-scrollbar-track {
  background-color: #1f2125;
}

body::-webkit-scrollbar-thumb,
.box::-webkit-scrollbar-thumb {
  background-color: #00a659;
  height: 32px;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.fade-enter {
  opacity: 0;
  background-color: blue;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.arabic {
  font-family: Kitab, serif;
}

@media (max-width: 767px) {
  header {
    font-size: 24px;
    height: 56px;
  }
  header img {
    width: 30px !important;
    height: 30px !important;
  }
  .container {
    margin-top: 56px;
  }
  .rows-surah {
    padding: 26px 8px;
    height: 48px;
    cursor: pointer;
    font-size: 18px;
  }
  .rows-surah:last-child {
    border-bottom: 1px solid transparent;
  }
  .rows-surah div:last-child {
    font-size: 24.4px;
  }
  .bismillah {
    font-size: 32px;
    padding: 12px 8px;
  }
  .rows-ayat .ayat {
    font-size: 32px;
  }
  .rows-ayat .transliteration {
    font-size: 16px;
  }
  .rows-ayat .transliteration .arabic {
    font-size: 24px;
  }
  .rows-ayat div.numberAyat {
    width: 56px;
    font-size: 24px;
  }
  .container-box-select .box {
    height: 279px;
  }
  .container-box-select .top-box-select .filter-wrapper .language-filter {
    padding: 10px 8px;
    font-family: Figtree, sans-serif;
    height: 32px;
    width: 156px;
    font-size: 14px;
  }
  .container-box-select .top-box-select .cancel img {
    width: 22px;
    height: 22px;
  }
  .container-box-select .row-head {
    font-size: 18px;
  }
  .container-box-select .box .menu-items {
    padding-block: 18px;
  }
  .container-box-select .box .menu-item {
    font-size: 16px;
  }
  .container-box-select .box .menu-item.arabic {
    font-size: 20.8px;
  }
  .image img {
    width: 184px;
  }
}/*# sourceMappingURL=App.css.map */